body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ffffff;
  background: #e0d8e3;
}
table {
  text-align: center;
}
a {
  color: #b17ee0;
  text-decoration: none;
}
img {
  width: 200px;
}
.currentWeather {
  display: inline-flex;
  margin: 0 70px;
  font-size: 70px;
}
.currentWeather .active {
  color: #ffffff;
  cursor: default;
}
.weatherText {
  display: inline-block;
  margin: 0 auto;
  font-size: 25px;
  line-height: 24px;
  font-weight: 600;
  padding: 25px;
}
.overallContainer {
  margin: 10px auto;
  width: 612px;
  height: 310px;
}
.labelContainerCompact {
  margin-bottom: 8px;
  width: 100%;
}
.labelLocation {
  color: #ffffff;
  height: 22px;
  font-size: 30px;
  line-height: 22px;
  font-weight: 600;
}
.labelDay,
.labelTime,
.labelDate {
  margin: 0 15px;
  font-size: 18px;
  line-height: 25px;
}
.searchingLocation {
  padding: 10px 12px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}
.weather-app {
  border: 1px solid #64607e;
  background: #64607e;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}
.weather-icon {
  width: 50px;
  padding: 0;
  margin-block-start: 5px;
  margin-block-end: 5px;
}
.temperature {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.units {
  position: relative;
  font-size: 25px;
  top: -25px;
}
.weather-forecast {
  border: 1px solid #64607e;
  background: #64607e;
  padding: 15px;
  border-radius: 10px;
  max-width: 600px;
  margin: 200px auto 0 auto;
  width: 595px;
  text-align: center;
  color: #e0d8e3;
}
.weather-forecast-date {
  font-size: 18px;
  opacity: 0.7;
}
.weather-forecast-temperature-min {
  opacity: 0.7;
}
.weather-forecast-temperatures {
  font-size: 14px;
}
.openSourceCode {
  color: #75607e;
  text-align: center;
  margin: 15px auto;
}
.grid {
  border: 1px solid #64607e;
  background: #64607e;
  color: #e0d8e3;
  padding: 10px 50px 5px 50px;
  text-align: center;
  border-radius: 10px;
  display: grid;
  max-width: 600px;
}
